# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.xlsx
*.csv
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE specific files
.idea/
.vscode/
*.swp
